---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/bellycard/test/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"https://7bdefb80.ngrok.com/github_webhooks/1","content_type":"json","secret":"a538bc394ba6a1fc069c15e77fe5fedc"},"events":["push"],"active":true}'
    headers:
      Authorization:
      - token SECRET
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1405961832'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Mon, 21 Jul 2014 15:57:11 GMT
recorded_with: VCR 2.9.2
